.about {
  max-width: 1170px;
  min-height: 503px;
  margin: 0 auto;
  padding: 126px 0 30px;

  @media (max-width: $tablet-width) {
    padding: 7px 0;
    min-height: 452px;
  }

  @media (max-width: $mobile-width) {
    padding: 31px 0 81px;
  }
}

.about h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $title;
  text-align: center;
  margin-bottom: 40px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 23px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 19px;
  }
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: new-counter;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-width) {
    column-gap: 30px;
    row-gap: 35px;
  }
}

.about__list li {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $black;
  text-align: center;
  max-width: 263px;
  padding-top: 60px;
  margin-right: 39px;
  position: relative;
  counter-increment: new-counter;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    font-weight: 400px;
    font-size: 18px;
    padding-top: 57px;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -1.3px;
    position: absolute;
    content: "0" counter(new-counter);
    color: $button;
    left: 0;
    right: 0;
    top: 10px;

    @media (max-width: $mobile-width) {
      top: 12px;
    }
  }
}
