.form fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 325px;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 281px;

  @media (max-width: $tablet-width) {
    max-width: 322px;
    margin-top: 0;
  }

  @media (max-width: $mobile-width) {
    max-width: 288px;
  }
}

.form legend {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: $white;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    color: $black;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.form input,
.form button {
  border: 1px solid $border-input;
  border-radius: 4px;
  padding: 14px 10px 10px 32px;
  width: 100%;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    padding: 12px 10px 12px 20px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 26px;
  }

  &::placeholder {
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color: $text-input;
    opacity: 0.5;
  }
}

.form button {
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  padding: 17px 10px 13px 15px;
  background-color: $button;
  border: none;

  @media (max-width: $tablet-width) {
    padding: 14px 11px 16px 10px;
  }
}
