.lead {
  position: relative;
  min-height: 825px;
  background-color: $back-lead;
  background-image: url("../img/background/background-bike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $dpi), (min-resolution: $dppx) {
    background-image: url("../img/background/background-bike@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-color: transparent;
    min-height: 726px;
    background-image: url("../img/background/background-bike-tablet.jpg");
    background-size: 100%;
    background-position: 0 0;

    @media (min-resolution: $dpi), (min-resolution: $dppx) {
      background-image: url("../img/background/background-bike-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    min-height: 760px;
    background-image: none;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 390px;
      width: auto;
      background-color: $back-lead;
      background-image: url("../img/background/background-bike-mobile.jpg");
      background-size: cover;
      background-position: center;
      left: 0;
      right: 0;

      @media (min-resolution: $dpi), (min-resolution: $dppx) {
        background-image: url("../img/background/background-bike-mobile@2x.jpg");
      }
    }
  }
}

.lead__center {
  position: relative;
  max-width: 878px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    justify-content: center;
    flex-direction: column;
  }
}

.lead__logo {
  position: absolute;
  top: 317px;
  left: 0;

  @media (max-width: $tablet-width) {
    display: block;
    top: 24px;
    left: 22px;
  }

  @media (max-width: $mobile-width) {
    top: 24px;
    left: 17px;
  }
}

.lead__wrapper {
  max-width: 350px;
  margin: 338px 0 18px;

  @media (max-width: $tablet-width) {
    max-width: 420px;
    min-height: 43vw;
    margin: 0;
    padding: 114px 0 0;
    text-align: center;
    align-self: center;
  }

  @media (max-width: $mobile-width) {
    max-width: 288px;
    min-height: 200px;
    padding: 100px 0 0;
  }
}

.lead__form {
  align-self: center;

  @media (max-width: $tablet-width) {
    padding: 80px 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 121px 0 0;
  }
}

.lead h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $white;
  margin: 30px 0 19px;


  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 42px;
    margin: 21px 0 19px;
  }
}

.lead p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $white;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 25px 0 20px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    margin: 20px 0;
  }
}
