.lead {
  position: relative;
  min-height: 825px;
  background-color: $back-lead;
  background-image: url("../img/background/background-bike.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  @media (min-resolution: $dpi), (min-resolution: $dppx) {
    background-image: url("../img/background/background-bike@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-color: transparent;
    min-height: 720px;
    background-image: url("../img/background/background-bike-tablet.jpg");
    background-size: 100%;
    background-position: 0 0;

    @media (min-resolution: $dpi), (min-resolution: $dppx) {
      background-image: url("../img/background/background-bike-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    min-height: 760px;
    background-image: url("../img/background/background-bike-mobile.jpg");

    @media (min-resolution: $dpi), (min-resolution: $dppx) {
      background-image: url("../img/background/background-bike-mobile@2x.jpg");
    }
  }
}

.lead__center {
  position: relative;
  max-width: 874px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    justify-content: center;
    flex-direction: column;
  }
}

.lead__logo {
  position: absolute;
  top: 317px;
  left: 0;

  @media (max-width: $tablet-width) {
    display: block;
    top: 19px;
    left: 11px;
  }

  @media (max-width: $mobile-width) {
    top: 15px;
    left: 10px;
  }
}

.lead__wrapper {
  max-width: 350px;
  margin-top: 338px;
  margin-bottom: 18px;

  @media (max-width: $tablet-width) {
    max-width: 420px;
    min-height: 43vw;
    margin: 0;
    padding-top: 109px;
    text-align: center;
    align-self: center;
  }

  @media (max-width: $mobile-width) {
    max-width: 288px;
    min-height: 116vw;
    padding-top: 28vw;
  }
}

.lead__form {
  align-self: center;


  @media (max-width: $tablet-width) {
    padding-top: 74px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 80px;
  }
}

.lead h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $white;
  margin-bottom: 19px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 42px;
  }
}

.lead p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $white;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 25px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    margin-top: 20px;
  }
}
