.main-page {
  height: 100%;
  font-family: $font-family--main;
  font-style: normal;
  letter-spacing: -0.005em;
}

.main-page body {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
}
