.video {
  min-height: 706px;
  background-color: $background;
  padding: 97px 0 0;
  margin-bottom: 150px;

  @media (max-width: $tablet-width) {
    min-height: 413px;
    padding: 50px 0 0;
  }

  @media (max-width: $mobile-width) {
    min-height: 384px;
    padding: 64px 5px 0;
    margin-bottom: 115px;
  }
}

.video h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $white;
  text-align: center;
  margin-bottom: 19px;

  @media (max-width: $tablet-width) {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}

.video p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: $white;
  opacity: 0.7;
  text-align: center;
  max-width: 340px;
  margin: 0 auto;
  padding-bottom: 56px;

  @media (max-width: $tablet-width) {
    max-width: 420px;
    padding-bottom: 41px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 53px;
  }
}

.video__player {
  position: relative;
}

.video__player img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 929px;

  @media (max-width: $tablet-width) {
    max-width: 503px;
  }

  @media (max-width: $mobile-width) {
    max-width: 288px;
  }
}

.video__button {
  position: absolute;
  width: 69px;
  height: 69px;
  top: 227px;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../img/icons/play.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  outline: none;

  @media (max-width: $tablet-width) {
    width: 93px;
    height: 93px;
    top: 96px;
    background-size: 89px;
  }

  @media (max-width: $mobile-width) {
    width: 67px;
    height: 67px;
    top: 47px;
    background-size: 65px;
  }

  &:focus {
    border: solid 2px $white;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
