.views {
  background-color: $background-views;
}

.views__center {
  max-width: 1126px;
  margin: 0 auto;
}

.views h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $title;
  text-align: center;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
  }
}

.views__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.views figcaption {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $black;
}
