.views {
  background-color: $background-views;
  padding-top: 125px;
  padding-bottom: 83px;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 22px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 12px;
    min-height: 400px;
  }
}

.views__center {
  max-width: 1246px;
  padding: 0 60px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 0 24px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.views h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $title;
  text-align: center;
  margin-bottom: 60px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.views__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  justify-content: center;

  @media (max-width: $mobile-width) {
    display: grid;
  }
}

.views__item {
  position: relative;
  min-height: 715px;
  z-index: 0;

  @media (max-width: $tablet-width) {
    min-height: 404px;
  }

  @media (max-width: $mobile-width) {
    min-height: 396px;
  }

  &:first-child {
    &::before {
      position: absolute;
      content: "";
      width: 180px;
      height: 180px;
      left: -60px;
      top: 156px;
      background-image: url("../img/icons/ellipse.svg");
      background-repeat: no-repeat;
      z-index: -1;

      @media (max-width: $tablet-width) {
        width: 127px;
        height: 127px;
        background-size: 127px;
        left: -37px;
        top: 201px;

        @media (max-width: $mobile-width) {
          left: -24px;
          top: 201px;
        }
      }
    }
  }

  &:first-child + li {
    top: 30px;

    @media (max-width: $tablet-width) {
      top: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 47px;
      height: 47px;
      left: -20px;
      top: -20px;
      background-image: url("../img/icons/rectangle.svg");
      background-repeat: no-repeat;

      @media (max-width: $tablet-width) {
        position: static;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 47px;
      height: 47px;
      right: -22px;
      top: 541px;
      background-image: url("../img/icons/rectangle.svg");
      background-repeat: no-repeat;

      @media (max-width: $tablet-width) {
        position: static;
      }
    }
  }

  &:last-child {
    top: -10px;

    @media (max-width: $tablet-width) {
      top: 0;
    }

    &::after {
      position: absolute;
      content: "";
      width: 95px;
      height: 95px;
      right: -36px;
      top: -32px;
      background-image: url("../img/icons/ellipse.svg");
      background-repeat: no-repeat;
      background-size: 95px;

      @media (max-width: $tablet-width) {
        width: 68px;
        height: 68px;
        right: -25px;
        top: -20px;
        background-size: 68px;
      }

      @media (max-width: $mobile-width) {
        right: -15px;
      }
    }
  }
}

.views__item figure {
  margin: 0;
}

.views__item img {
  border-radius: 10px;

  @media (max-width: $tablet-width) {
    height: 300px;
    width: 270px;
    object-fit: cover;
  }
}

.views figcaption {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $black;
  text-align: center;
  padding-top: 20px;
}
