// Colors

$red: #fe7865;

// Font

$font-family--main: "Open Sans", "Arial", sans-serif;

// center
$width-center: 1170px;

// Viewport

$tablet-width: 1023px;
$mobile-width: 767px;

//resolution

$dppx: 2dppx;
$dpi: 192dpi;
