// Colors

$white: #ffffff;
$dark: #48494d;
$back-lead: #181917;
$border-nav-menu: rgba(255, 255, 255, 0.2);
$black: #000000;
$black-address: rgba(0, 0, 0, 0.7);
$black-05: rgba(0, 0, 0, 0.5);
$text-input: #1c1c1c;
$border-input: #c9ccd4;
$button: #0ad9c6;
$title: #1f1f1f;
$background: #131314;
$menu: #f6f6f6;
$background-views: #f6f7f9;


// Font

$font-family--main: "Open Sans", "Arial", sans-serif;


// Viewport

$tablet-width: 1023px;
$mobile-width: 767px;


//resolution

$dppx: 2dppx;
$dpi: 192dpi;
