@import "global/variables.scss";
@import "global/global.scss";
@import "global/fonts.scss";
@import "blocks/main-page.scss";
@import "blocks/header.scss";
@import "blocks/lead.scss";
@import "blocks/form.scss";
@import "blocks/about.scss";
@import "blocks/views.scss";
@import "blocks/video.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
